<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- title 태그는 탭에 나타나는 이름 -->
        <title>Document</title>
    </head>
    <body>
        <!-- 실제 화면에 나타나는 부분 -->
        <h1>Hello Flask</h1>
        <p>이 페이지는 메인 페이지 입니다. </p>
        <!-- 유저가 입력할수 있는 공간 생성(input 태그 사용) : 입력한 데이터를 서버에게 보낸다.(form태그 사용) -->
        <!-- form 태그의 가장 많은 실수 from적는 경우가 많다. -->
        <!-- form 태그는 action 속성은 어디로 데이터를 보낼것인가?(주소값을 입력) -->
        <!-- method 속성 어떤 방식으로 데이터를 보낼것인가? (get / post) -->
        <!-- 웹 서버의 데이터를 보내는 형태는 key : value형으로 보낸다. -->
        <form action="/login" method="get">
            <!-- 유저의 id 입력하는 공간 -->
            <label>ID</label>
            <!-- input 태그는 type 속성은 유저가 입력하는 데이터의 타입 , name 속성 유저가 입력한 데이터의 key 값 -->
            <!-- input_id : 유저가 입력한 id -->
            <input type="text" name = 'input_id'>
            <!-- br 태그는 강제 줄바꿈 태그 -->
            <br>
            <!-- 유저의 password 입력하는 공간 -->
            <label>PASSWORD</label>
            <input type="password" name="input_pass">
            <br>
            <!-- 데이터를 보낸다 -> 제출 버튼이 필요 -->
            <input type="submit">
        </form>
        <h3>post 방식으로 데이터 보내기 </h3>
        <!-- post 방식으로 데이터를 보낸다. -->
        <form action="/login2" method="post">
            <!-- 유저의 id 입력하는 공간 -->
            <label>ID</label>
            <!-- input 태그는 type 속성은 유저가 입력하는 데이터의 타입 , name 속성 유저가 입력한 데이터의 key 값 -->
            <!-- input_id : 유저가 입력한 id -->
            <input type="text" name = 'input_id'>
            <!-- br 태그는 강제 줄바꿈 태그 -->
            <br>
            <!-- 유저의 password 입력하는 공간 -->
            <label>PASSWORD</label>
            <input type="password" name="input_pass">
            <br>
            <!-- 데이터를 보낸다 -> 제출 버튼이 필요 -->
            <input type="submit">
        </form>
    </body>
</html>