# 서버의 정보들을 입력 ( 이 파일은 절대 공유 하지 않는다. )
host=xxx.x.x.x
port=xxxx
user=xxxx
pwd=xxxx   
# 본인 데이터베이스 접속 비밀번호
db_name=xxxxxxxx


# 외부 데이터베이스 서버의 정보
host2=xxxxxxxx.xxxxx.org
port2=xxx
user2=xxxxxx
pwd2=xxxx
db_name2=xxxxxxxxx